* {
    box-sizing: border-box;
}

input, button {
    border: none;
}

body {
    font-family: 'Roboto', 'Courier New', monospace;
}

main {
    overflow: hidden;
}

.main-header {
    padding: 17px 28px 35px 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 66px;
    width: 79px;
}

#navBtn {
    width: 30px;
}

.offer-wrapper {
    padding: 0 28px;
    color: #D81E05;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.rectangle {
    margin: 53px 37px 0 37px;
    height: 187px;
    width: calc(100% - 74px);
    background: #D9D9D9;
}

.auth-form {
    margin: 54px auto 0 auto;
    padding: 52px 27px 45px 27px;
    width: fit-content;
    border-radius: 15px;
    box-shadow: #00000031 0 4px 19.3px 4px;
}

.auth-form input {
    display: block;
    margin-bottom: 11px;
    padding: 0 12px;
    height: 40px;
    width: 300px;
    border-radius: 4px;
    font: 400 16px 'Open Sans', monospace;
    text-transform: uppercase;
    text-align: center;
    background: #F7F7F7;
}

.auth-form input[type="submit"] {
    margin-top: 52px;
    background: #D81E05;
    color: #FFFFFF;
    cursor: pointer;
}

.phone-input input {
    text-align: left;
}

.phone-input.invalid {
    animation: 0.25s linear shake;
}

@keyframes shake {
    0%   { transform: translateX( 0px); }
    25%  { transform: translateX( 5px); }
    50%  { transform: translateX( 0px); }
    75%  { transform: translateX(-5px); }
    100% { transform: translateX( 0px); }
}

.purpose-wrapper {
    margin: 58px 30px 0 30px;
    text-align: center;
}

.purpose-wrapper h3 {
    margin-bottom: 8px;
    color: #C22821;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.purpose-wrapper p {
    color: #0E69AF;
    font-size: 24px;
    line-height: 28px;
}

.service-block {
    margin-top: 58px;
}

.service-block h2 {
    margin-bottom: 48px;
    font-size: 37px;
    line-height: 53.2px;
    text-align: center;
}

.services-wrapper {
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.service-info {
    width: 100%;
    text-align: center;
}

.service-info img {
    height: 95px;
    width: 95px;
}

.service-info h3 {
    margin-top: 52px;
    font-size: 31px;
}

.service-info p {
    margin-top: 34px;
    font-size: 20px;
}

.service-info input {
    margin-top: 33px;
    height: 52px;
    width: 100%;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 16px;
    text-transform: uppercase;
    background: #D21D05;
    box-shadow: #00000040 3px 4px 10px 0;
    cursor: pointer;
}

.gradient-background {
    background: linear-gradient(#D81E05, #490900);
}

.person-info-block {
    margin-top: 67px;
    padding-top: 45px;
    text-align: center;
}

.person-info-block figure {
    margin: 0 auto;
    height: 297px;
    width: 297px;
    box-shadow: #00000040 4px 5px 6.8px 0;
}

.person-info-block figure img {
    width: 100%;
}

.person-info-block p {
    margin: -17px 22px 0 22px;
    padding: 46px 34px 9px 34px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
    background: linear-gradient(#CC4238C5, #CC4238C5), url(../assets/generali-landscape.png);
    background-position: center;
    background-size: auto 100%;
}

.profit-info-block {
    padding: 32px 22px 40px 22px;
}

.profit-info-block h2 {
    color: #FFFFFF;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.profit-calculator {
    margin-top: 25px;
    padding: 45px 20px 20px 20px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
}

.profit-calculator button {
    display: flex;
    overflow: hidden;
    z-index: 0;
    position: relative;
    margin: 25px auto 0 auto;
    width: calc(100% - 55px);
    max-width: 312px;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 38px;
    color: #FFFFFF;
    font: 500 14px Montserrat;
    text-transform: uppercase;
    line-height: 72px;
    cursor: pointer;
}

.profit-calculator button::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 2px;
    left: 2px;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    background: linear-gradient(to right, #C91C04, #D81E05, #4B0900, #4B0900);
}

.profit-calculator button span {
    font-size: 22px;
}

.general-info {
    text-align: center;
}

.info-section:nth-child(1) {
    margin: 40px 0 40px 0;
}

.info-section h3 {
    margin-bottom: 16px;
    color: #FFFFFF;
    font: 500 16px Montserrat;
    text-transform: uppercase;
}

.info-section p {
    color: #FFFFFF;
    font: 500 42px Montserrat;
}

.quotes-block {
    padding: 12px 0;
    background: url('../assets/quotes-background.png');
    background-position: center;
    background-size: auto 100%;
    box-shadow: #00000040 0 4px 4px 0;
}

.quotes-wrapper {
    position: relative;
    overflow: visible;
}

.quotes-wrapper > ul {
    overflow: visible;
}

.quote {
    margin: auto;
    width: calc(100% - 12px);
    padding: 15px 20px 18px 20px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: #0000001A 0 5px 10px 0;
}

.quote header {
    padding-bottom: 20px;
}

.quote header > div {
    display: flex;
    gap: 20px;
    align-items: center;
}

.author-photo {
    height: 91px;
    width: 91px;
    border-radius: 50%;
}

.author-info h3 {
    font-size: 23px;
    font-weight: 600;
    line-height: 35px;
}

.author-info p {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.author-info address a {
    cursor: pointer;
}

.author-info address img {
    height: 33px;
    width: 33px;
}

.quote-delimeter {
    position: relative;
    margin-left: -5px;
    height: 1px;
    width: calc(100% + 10px);
    background: #EBEBEB;
}

.quote-delimeter::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50.5px;
    height: 15.55px;
    width: 15.55px;
    border-top: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    background: #FFFFFF;
    transform: translateY(-50%) translateX(-50%) rotateZ(-45deg);
}

.quote > p {
    margin-top: 18px;
    min-height: 125px;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
}

.shareholders-block h2 {
    margin: 30px 0 48px 0;
    font: 30px/41.3px Ubuntu;
    text-align: center;
}

.companies-wrapper {
    display: flex;
    padding: 0 12px;
    flex-direction: column;
    gap: 24px;
}

.companies-wrapper > div {
    display: flex;
    height: 30px;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.companies-wrapper > div > img {
    max-height: 100%;
    min-width: 0;
}

.main-footer {
    margin-top: 64px;
    font-size: 15px;
    text-align: center;
}

.main-footer img {
    margin: 42px 0;
    height: 110px;
}

.main-footer nav a {
    margin-bottom: 14px;
    display: block;
    cursor: pointer;
}

.irs-single {
    background: #D81E05 !important;
}
.irs-single:before {
    border-top-color: #D81E05 !important;
}
.irs-handle.single {
    border: 4px solid #D81E05 !important;
}
.irs-bar {
    background: linear-gradient(to right, #D81E05, #C91C04, #C91C04, #D81E05) !important;
}
